body {
    background: #1abc9c;                   
    font-family: Tahoma, Arial, sans-serif;  
    color: #333;                            
}


h1 {
    font-family: "Times New Roman", Georgia, serif;
}


p, h4 {
    font-size: 20px;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
}
ul, ol {
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid black;
    padding: 5px;
}

img {
    height: 30px;
    width: auto;
}